* {
	box-sizing: border-box;
}

body {
	font-family: 'Press Start 2P', cursive;
}

h1 {
	font-size: 2.5rem;
}

.header {
	text-align: center;
	height: 10vh;
	position: relative;
}

.header h1 {
	margin-top: 15px;
}

.fa-github {
	font-size: 2rem;
	position: absolute;
	right: 40px;
	top: 0;
}

.game-container {
	display: flex;
	justify-content: space-around;
}

.player-board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cell-hit {
	width: 80%;
	height: 80%;
	border-radius: 50%;
	background-color: grey;
}

.cell-ship-hit {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: red;
}

.ship {
	background: blue;
	height: 90%;
	width: 90%;
}